 <div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <h1 class="text-monospace">Seja bem vinde ao meu blog!</h1> 
        </div>
    </div>

    <div class="row w-100 d-flex justify-content-center align-items-center">
        <div class="col-md-12 mt-4 mb-5">
            <p class="card-text text-justify text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nulla delectus sit aperiam consectetur repudiandae unde? Ut itaque deleniti ab et totam quo! Iste minus quisquam est soluta consectetur odit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa aut repellendus eos deleniti magni cupiditate dolore deserunt sit quasi doloribus, fuga at sapiente suscipit blanditiis iusto nihil maxime. Beatae, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, alias! Ullam deserunt odio, quidem officiis aut soluta magnam facilis impedit sit maiores eveniet ipsam dolorem explicabo odit, officia dd</p>
        </div>
    </div>
</div>
    <div class="parallax"></div> 

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center mt-4 mb-4">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold w-12" routerLink="/feed">Ver o feed</button>
        </div>
    </div>

   

        
      
        
      
    
 


